body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    background-repeat: no-repeat;
    overflow-x: hidden;
    font-family: 'Teko', sans-serif;
}


.count-down {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#time {
    display: none;
    padding: 0;
    margin-top: 30px;
    font-size: 330px;
    line-height: 300px;
    vertical-align: middle;
}

.inputs {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}

.operations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
}

#start,
#stop,
#pause {
    margin: 5px;
    width: 200px;
    height: 60px;
    font-size: calc(100%*1.8);
    border-radius: 50px;
    border: 1px solid white;
    background-image: linear-gradient(to bottom, #fed6e367 30%, #fed6e3 100%);
    outline: none;
    font-family: 'Teko';
}

#start:hover,
#stop:hover,
#pause:hover {
    color: white;
    background-image: linear-gradient(to bottom, #fcd7e3 100%, #fed6e3 100%);
}


#settime {
    font-family: 'Teko';
    text-align: center;
    width: 200px;
    height: 50px;
    background-color: #ffffff83;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin: 5px 10px;
    font-size: calc(100%*1.5);
    outline: none;
}

